{
  "printWidth": 9999,
  "tabWidth": 1,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "endOfLine": "auto"
}